<!-- NOTICE: This page can be used as the home page of the forum -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{course_name}}-课程讨论区{% endblock %}</title>
</head>
<body>
<div class="container">
	<!-- Navbar -->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 	<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
					 	<span class="icon-bar"></span>
					 	<span class="icon-bar"></span>
					 </button>
					 <a class="navbar-brand" href="/teach/detail/?course={{course_name}}">{{course_name}}</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if user.is_authenticated %}
					<ul class="nav navbar-nav">
						<li class="active">
							 <a>欢迎: {{ user.username }}</a>
						</li>
                        <li class="active">
                            <a href="/teach/detail/?course={{course_name}}">返回</a>
                        </li>
					</ul>
                    {% else %}
                    <ul class="nav navbar-nav">
						<li class="active">
							 <a href="/accounts/login/">登录</a>
						</li>
					</ul>
                    {% endif %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="#">课程讨论区使用帮助</a>
						</li>
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">通知及选项<strong class="caret"></strong></a>
							<ul class="dropdown-menu">

								{% if not user.teacher %}
                                <li>
                                     <a align="center" href="#">通知</a>
                                </li>
                                {% endif %}
                                {% if user.teacher %}
								<li>
                                    <a id="modal-2" href="#modal-container-2" role="button" data-toggle="modal">管理板块</a>
								</li>
                                {% endif %}
                                <li>
                                    <a id="modal-1" href="#modal-container-1" role="button" data-toggle="modal" >发帖</a>
                                </li>
								<li class="divider">
								</li>
								<li>
									 <a href="/accounts/logout">登出</a>
								</li>
							</ul>
						</li>
                        <li>

                        </li>
						{% endif %}
						<li>
							<a>    </a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="container-fluid">
			    <div class="row-fluid">
			        <div class="span12">
			            <h2>
			                <br />
			            </h2>
			        </div>
			    </div>
			</div>
		</div>
	</div>

	{% block content %}

    <!--遮罩窗体——管理板块-->
    <div class="modal fade" id="modal-container-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        管理板块
                    </h4>
                </div>
                <div class="modal-body">
                    <div id='display_section'></div>
                    <form role="form" action="/forum/delete-section={{course_id}}/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>请选择要删除的版块</label>
                            <select class="form-control" id= "section_to_delete" name="delete_section_id">
                                {% for item in section_list%}
                                {% ifequal item.section_id "null" %}
                                {% else %}
                                <option value="{{item.section_id}}">{{item.section_name}}</option>
                                {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="删除" id="delete_section_button" >
                        </div>
                    </form>

                    <form name="section_add" role="form" action="/forum/add-section={{course_id}}/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>请输入要添加的板块标题:</label>
                            <input class="form-control" id="section_to_add" type="text" name="add_section_name" style="height: 50px"/>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value="添加" id="add_section_button" onClick="add_section();">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--遮罩窗体——发帖-->
    <div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="releasePost">
                        发帖
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            注意!
                        </h4> 请时刻注意您发表的<strong>言论</strong>，不要进行不恰当的发言。
                    </div>
                    <div id='display'></div>
                    <form name="post_release" role="form" action="/forum/release-post={{course_id}}/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>请选择发表的版块</label>
                            <select class="form-control" id= "section" name="post_sectionid">
                                {% for item in section_list%}
                                <option value="{{item.section_id}}">{{item.section_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>请输入帖子标题:</label>
                            <input class="form-control" id="title" type="text" name="post_title" style="height: 50px"/>
                        </div>
                        <div class="form-group">
                            <label>请输入帖子内容：</label><br>
                            <p></p>
                            <textarea style="resize: none; width : 560px; height: 180px;" name="post_content" id="content" class="j_enter" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="post_file" />
                            <br>
                            <input type="button" class="btn btn-primary" value="发表" id="release" onClick="nextline();" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					{{course_name}}讨论区
				</h1>
				<p>
					参加本课程学生和教师可以在{{course_name}}讨论区讨论问题.
				</p>
				<p>
                    {% if not user.is_authenticated %}
					如果你是学生或者教师，点击“登录”按钮以登录。
                    <a class="btn btn-primary btn-large" href="accounts/login">登录</a>
                    {% endif %}
				</p>
				<p>
                    点击“帮助”按钮可查看系统帮助。
                    <a class="btn btn-primary btn-large" href="#">帮助</a>
				</p>
                <p>
                </p>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
            <div id='display_search'></div>
            <form name="search_form" role="form" action="/forum/search={{course_id}}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>请输入要搜索的内容:</label>
                    <input class="form-control" id="search-id" type="text" name="search_content" style="height: 50px"/>
                    <input type="button" class="btn btn-primary" value="搜索" id="search_button" onClick="search();"/>
                </div>
            </form>
            <div class="tabbable" id="tabs-701698">
				<ul class="nav nav-tabs">
                    {% for item in section_list %}
                    {% ifequal item.section_id "null" %}
					<li class="active">
						 <a href="#section-{{item.section_id}}" data-toggle="tab">{{item.section_name}}</a>
					</li>
                    {% else %}
                    <li>
						 <a href="#section-{{item.section_id}}" data-toggle="tab">{{item.section_name}}</a>
					</li>
                    {% endifequal %}
                    {% endfor %}
				</ul>
				<div class="tab-content">
                    {% for item in section_list %}
                    {% ifequal item.section_id "null" %}
					<div class="tab-pane active" id="section-null">
						<p>
                            <table class="table table-bordered"><!--style="table-layout:fixed;width:95%;word-wrap:break-word"-->
                                <thead>
                                    <tr>
                                        <th>
                                            标题
                                        </th>
                                        <th width="250px">
                                            发帖人
                                        </th>
                                        <th width="125px">
                                            帖子类型
                                        </th>
                                        <th width="125px">
                                            发帖时间
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for posts in item.post_list %}
                                        {% ifequal posts.is_best 1 %}
                                        <tr class="success">
                                        {% else %}
                                        <tr>
                                        {% endifequal %}
                                            <td>
                                                <a href="/forum/watch_post={{posts.id}}/">{{posts.title}}</a>
                                            </td>
                                            <td>{{posts.poster}}</td>
                                            {% ifequal posts.is_best 0 %}
                                            <td>普通帖</td>
                                            {% else %}
                                            <td>精华帖</td>
                                            {% endifequal %}
                                            <td>{{posts.time}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
						</p>
					</div>
                    {% else %}
                    <div class="tab-pane" id="section-{{item.section_id}}">
						<p>
                            <table class="table table-bordered"><!--style="table-layout:fixed;width:95%;word-wrap:break-word"-->
                                <thead>
                                    <tr>
                                        <th>
                                            标题
                                        </th>
                                        <th width="250px">
                                            发帖人
                                        </th>
                                        <th width="125px">
                                            帖子类型
                                        </th>
                                        <th width="125px">
                                            发帖时间
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for posts in item.post_list %}
                                        {% ifequal posts.is_best 1 %}
                                        <tr class="success">
                                        {% else %}
                                        <tr>
                                        {% endifequal %}
                                            <td>
                                                <a href="/forum/watch_post={{posts.id}}/">{{posts.title}}</a>
                                            </td>
                                            <td>{{posts.poster}}</td>
                                            {% ifequal posts.is_best 0 %}
                                            <td>普通帖</td>
                                            {% else %}
                                            <td>精华帖</td>
                                            {% endifequal %}
                                            <td>{{posts.time}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
						</p>
					</div>
                    {% endifequal %}
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endblock content %}
</div>

<div class="footer">
<footer style="text-align: center;">
  <p>Posted by: G01 2017. Contact information: <a href="mailto:teachingwebsite@126.com">teachingwebsite@126.com</a>.</p>
</footer>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>


<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.css"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.min.css"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css"></script>

{% block script %}
<script>
    var status = "{{ status }}";
    if(status != "true")
        alert(status);
    var txt = "<div class=\"alert alert-warning alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button><h4>注意!</h4> 标题和内容均<strong>不能为空</strong>，且标题不超过<strong>25个字</strong>，内容不超过<strong>1000个字</strong>。</div>";
    function nextline()
	{
        title = document.getElementById('title').value;
	    content = document.getElementById('content').value;
	    if(title.length <= 0 || title.length > 25 || content.length <= 0 || content.length > 1000)
		    document.getElementById('display').innerHTML = txt;
		else
		{
		    var form = document.forms['post_release'];
		    form.submit();
		}
    }

    var sectiontxt = "<div class=\"alert alert-warning alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button><h4>注意!</h4> 版块标题<strong>不能为空</strong>，且不超过<strong>10个字</strong>。</div>";
    function add_section()
	{
	    content = document.getElementById('section_to_add').value;
	    if(content.length <= 0 || content.length > 10)
		    document.getElementById('display_section').innerHTML = sectiontxt;
		else
		{
		    var form = document.forms['section_add'];
		    form.submit();
		}
    }

    var searchtxt = "<div class=\"alert alert-warning alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button><h4>注意!</h4> 搜索内容<strong>不能为空</strong>，且不超过<strong>50个字</strong>。</div>";
    function search()
	{
	    content = document.getElementById('search-id').value;
	    if(content.length <= 0 || content.length > 10)
		    document.getElementById('display_search').innerHTML = searchtxt;
		else
		{
		    var form = document.forms['search_form'];
		    form.submit();
		}
    }

</script>
{% endblock script %}

</body>
</html>