{% extends "teach_detail.html" %}

{% block title %}使用帮助{% endblock title %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>
                    网站使用帮助
                </h1>
                <br>
                <hr>
                <br>
                <p>
                    网站帮助中心正在建设中。有需要可email:
                    <a href="mailto:nslam@zju.edu.cn">石神</a>吧。
                </p>
                <p>可以发送留言给管理员，点击下面按钮：</p><br>
                <a href=""><button class="btn btn-primary">给管理员留言</button></a>
            </div>
        </div>
    </div>



{% endblock %}