{% extends "teach_detail.html" %}

{% block title %}使用帮助{% endblock title %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>
                    网站使用帮助
                </h1>
                <br>
                <hr>
                <br>
                <p>
                    不知道写些什么，有什么找
                    <a href="mailto:nslam@zju.edu.cn">石神</a>吧
                </p>
            </div>
        </div>
    </div>



{% endblock %}