<!-- NOTICE: This page can be used as the home page of the website -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}软件工程教学网站{% endblock %}</title>
</head>
<body>
<!-- TODO: 添加链接:通知, 未来可能需要修改url配置 -->
<div class="container">
    <!-- Navbar -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="{% url "home" %}">主页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="active">
                             <a href="{% url "edit" %}">欢迎: {{ user.username }}</a>
                        </li>
                        <li class="active">
                            <a href="{% url "logout" %}">登出</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li class="active">
                             <a href="{% url "login" %}">登录</a>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a href="#">使用帮助</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">通知及选项<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">

                                <li>
                                     <a href="#">通知</a>
                                </li>
                                <li>
                                     <a href="{% url 'edit' %}">编辑个人资料</a>
                                </li>
                                <li>
                                     <a href="{% url 'edit_pwd' %}">更改密码</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="{% url 'logout' %} }">登出</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li>
                            <a>    </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h2>
                            <br />
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    <!-- 课程公告 -->
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>
                    软件工程基础
                </h1>
                <hr>
                <h2 id="id_course_introduction">
                    点击查看课程介绍
                </h2>
                <p id="course_introduction">
                    <!-- 课程介绍XXX -->
                </p>
                <hr>
                <h2>
                    课程公告
                </h2>
                <hr>
                <p>
                    <small>
                        <!-- <span>1.</span>石神出国访问美国总统！ -->
                    </small>
                </p>
                <hr>
            </div>
        </div>
    </div>
    <!-- 常用功能 -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                常用功能
            </h2>
            <hr>
            <a href="#">
                <button class="btn btn-primary">发布课程公告</button>
            </a>
            <a href="#">
                <button class="btn btn-primary">更改教学计划</button>
            </a>
            <a href="#">
                <button class="btn btn-primary">上传课件</button>
            </a>
            <a href="#">
                <button class="btn btn-primary">删除课件</button>
            </a>
            <a href="#">
                <button class="btn btn-primary">上传视频</button>
            </a>
            <a href="#">
                <button class="btn btn-primary">删除视频</button>
            </a>
            <br>
        </div>
    </div>
    <!-- 课程大纲 -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                课程大纲
            </h2>
            <hr>
            <table class="table table-bordered table-hover">
                <!-- 单个Topic 多个课件 多个视频 单个作业(覆盖) -->
                <thead>
                    <tr>
                        <th>
                            Week
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Topic
                        </th>
                        <th>
                            Courseware
                        </th>
                        <th>
                            Video
                        </th>
                        <th>
                            Homework
                        </th>
                        <!-- <th>
                            Project
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!-- 1 -->
                        </td>
                        <td>
                            <!-- 2017-09-21 -->
                        </td>
                        <td>
                            <!-- Introduction -->
                        </td>
                        <td>
                            <p>
                                <a href="#">
                                    <!-- Link to download -->
                                    <!-- introduction.pdf -->
                                </a>
                            </p>
                            <br>
                        </td>
                        <td>
                            <p>
                                <a href="#">
                                    <!-- Link to 3rd party site -->
                                    <!-- introduction.mp4 -->
                                </a>
                            </p>
                            <br>
                        </td>
                        <td>
                            <p>
                                <a href="#">
                                    <!-- hw1 -->
                                </a>
                            </p>
                            <br>
                            <a href="#">
                                <button class="btn btn-primary upload_homework">上传作业</button>
                            </a>
                            <a href="#">
                                <button class="btn btn-primary">批改作业</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <!-- 其他信息 -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                其他信息
            </h2>
            <hr>
            <div class="row clearfix">

                <div class="col-md-4">
                    <a href="#">
                        <h3>课程论坛</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <h3>教师信息</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <h3>友情链接</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>

    {% endblock content %}
</div>

<div class="footer">
<footer style="text-align: center;">
  <p>Posted by: G01 2017. Contact information: <a href="mailto:teachingwebsite@126.com">teachingwebsite@126.com</a>.</p>
</footer>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>


<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



{% block script %}

<script type="text/javascript">
    $(document).ready
    (
        function ()
        {
            $("#course_introduction").hide();
            $("#id_course_introduction").click
            (
                function()
                {
                    $("#course_introduction").show();
                    $("#id_course_introduction").text("课程介绍");
                }
            );
            $(".upload_homework").click
            (
                function ()
                {
                    alert("上传作业后，当前周原有作业将会被覆盖。");
                }
            );
        }
    );

</script>



{% endblock script %}

</body>
</html>