{% extends "teach_detail.html" %}

{% block title %}修改课程计划{% endblock %}

{% block content %}
    <!-- 修改课程计划，一次Section 周数只能设置一次 -->
    <div class="row clearfix">
        <div class="col-md-12">
                <h1>
                    软件工程基础教学计划
                </h1>
                <br>
                <hr>
                <label>教学计划</label>
                <form method="post" class="form" action="#">
                    <label for="id_for_week_number">周数</label>
                    <input class="form-control" type="text" name="week_number" id="id_for_week_number">
                    <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Week
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Topic
                            </th>
                        </tr>
                    </thead>
                    <tbody id="id_table_body">
                        
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">提交教学计划</button>
            </form>
        </div>
    </div>
    
{% endblock content %}

{% block script %}

<script type="text/javascript">
    var status = false;
    $(document).ready
    (
        function ()
        {
            // $("#confirm").click
            // (
            //     function ()
            //     {
            //         status = false;
            //         var weekNumber = $("#id_for_week_number").val();
            //         var regex = /^[1-9][0-9]?$/;
            //         if(!regex.test(weekNumber))
            //         {
            //             alert("周/学时数格式不正确!");
            //             return;
            //         }
            //         status = true;
            //         var n = parseInt(weekNumber);
            //         $("#id_table_body").empty();
            //         for (var i = 1; i <= n; i++) 
            //         {
            //             $("#id_table_body").append('<tr><td><input type="text" name="week_'+ i + '" class="form-control" value="'+i+'" readonly></td><td><input type="Date" name="date_'+ i + '" class="form-control"></td>'+
            //                 '<td><input type="text" name="topic_'+ i + '" class="form-control"></td></tr>');
                        
            //         }
            //     }          
            // );
        }
    );


</script>

                   <!-- <tr>
                            <td>
                                <input type="text" name="week_1" class="form-control" readonly>
                            </td>
                            <td>
                                <input type="Date" name="date_1" class="form-control" required>
                            </td>
                            <td>
                                <textarea type="text" name="topic_1" class="form-control" style="resize: none;" required></textarea>
                            </td>
                        </tr>
 -->
{% endblock script %}