{% extends "teach_detail.html" %}

{% block title %}视频上传{% endblock title %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-12">
                <h1>
                    软件工程基础视频上传 <!-- Course name -->
                </h1>
                <br>
                <!-- Section -->
                <h4><span>Section 2017 Fall</span></h4>
                <hr>
                <form method="post" class="form" action="#">
                    <div class="form-group">
                        <label for="id_for_week">周:</label>
                        <input type="text" name="week" id="id_for_week" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="id_for_video">视频链接：</label>
                        <input type="text" name="video" id="id_for_video" class="form-control">
                    </div>
                    <p class="help-block">
                        本站采用第三方视频链接播放视频。
                    </p>
                    <button type="submit" class="btn btn-primary">提交视频</button>
                </form>
        </div>
    </div>
    
{% endblock content %}

{% block script %}

<script type="text/javascript">
    //var status = false;
    $(document).ready
    (
        function ()
        {
            
        }
    );


</script>
{% endblock script %}