<!-- NOTICE: This page can be used as the home page of the website -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}软件工程基础教学计划{% endblock %}</title>
</head>
<body>
<!-- TODO: 添加链接:通知, 未来可能需要修改url配置 -->
<div class="container">
    <!-- Navbar -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="{% url "home" %}">主页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="active">
                             <a href="{% url "edit" %}">欢迎: {{ user.username }}</a>
                        </li>
                        <li class="active">
                            <a href="{% url "logout" %}">登出</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li class="active">
                             <a href="{% url "login" %}">登录</a>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a href="#">使用帮助</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">通知及选项<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">

                                <li>
                                     <a href="#">通知</a>
                                </li>
                                <li>
                                     <a href="{% url 'edit' %}">编辑个人资料</a>
                                </li>
                                <li>
                                     <a href="{% url 'edit_pwd' %}">更改密码</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                     <a href="{% url 'logout' %} }">登出</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li>
                            <a>    </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h2>
                            <br />
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    <!-- 修改课程计划，一次Section 周数只能设置一次 -->
    <div class="row clearfix">
        <div class="col-md-12">
                <h1>
                    软件工程基础教学计划
                </h1>
                <br>
                <hr>
                <label>教学计划</label>
                <form method="post" class="form" action="#">
                    <label for="id_for_week_number">周数</label>
                    <input class="form-control" type="text" name="week_number" id="id_for_week_number">
                    <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Week
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Topic
                            </th>
                        </tr>
                    </thead>
                    <tbody id="id_table_body">
                        
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">提交教学计划</button>
            </form>
        </div>
    </div>
    
    {% endblock content %}
</div>

<div class="footer">
<footer style="text-align: center;">
  <p>Posted by: G01 2017. Contact information: <a href="mailto:teachingwebsite@126.com">teachingwebsite@126.com</a>.</p>
</footer>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>


<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



{% block script %}

<script type="text/javascript">
    var status = false;
    $(document).ready
    (
        function ()
        {
            // $("#confirm").click
            // (
            //     function ()
            //     {
            //         status = false;
            //         var weekNumber = $("#id_for_week_number").val();
            //         var regex = /^[1-9][0-9]?$/;
            //         if(!regex.test(weekNumber))
            //         {
            //             alert("周/学时数格式不正确!");
            //             return;
            //         }
            //         status = true;
            //         var n = parseInt(weekNumber);
            //         $("#id_table_body").empty();
            //         for (var i = 1; i <= n; i++) 
            //         {
            //             $("#id_table_body").append('<tr><td><input type="text" name="week_'+ i + '" class="form-control" value="'+i+'" readonly></td><td><input type="Date" name="date_'+ i + '" class="form-control"></td>'+
            //                 '<td><input type="text" name="topic_'+ i + '" class="form-control"></td></tr>');
                        
            //         }
            //     }          
            // );
        }
    );


</script>

                   <!-- <tr>
                            <td>
                                <input type="text" name="week_1" class="form-control" readonly>
                            </td>
                            <td>
                                <input type="Date" name="date_1" class="form-control" required>
                            </td>
                            <td>
                                <textarea type="text" name="topic_1" class="form-control" style="resize: none;" required></textarea>
                            </td>
                        </tr>
 -->
{% endblock script %}

</body>
</html>