{% extends "teach_detail.html" %}
{% block title %}作业上传{% endblock title %}
{% block content %}

    <div class="row clearfix">
        <div class="col-md-12">
                <h1>
                    软件工程基础作业上传 <!-- Course name -->
                </h1>
                <br>
                <hr>
                <form method="post" class="form" action="#" enctype="multipart/form-data">
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                            <div class="form-group">
                            <label for="id_for_week">当前周:</label>
                            <input type="text" name="week" id="id_for_week" class="form-control" value="" readonly>
                            </div>
                        </div>
                        <div class="col-md-8 column">
                            <div class="form-group">
                                <label for="id_for_deadline">截止日期:</label>
                                <input type="Date" name="deadline" id="id_for_deadline" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 column">
                            <div class="form-group">
                                <label for="id_for_score">总分:</label>
                                <input type="text" name="score" id="id_for_score" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_for_week">作业描述:</label>
                        <textarea name="week" id="id_for_week" class="form-control" style="height:200px; resize:none;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_for_courseware">作业文件：</label>
                        <input type="file" name="courseware" id="id_for_courseware">
                    </div>
                    <p class="help-block">
                        上传如PDF, DOC[X], XLS[X], PPT[X], ZIP, RAR等格式的作业。
                    </p>
                    <button type="submit" class="btn btn-primary">提交作业</button>
                </form>
        </div>
    </div>
    
{% endblock content %}

{% block script %}

<script type="text/javascript">
    //var status = false;
    $(document).ready
    (
        function ()
        {
            
        }
    );


</script>
{% endblock script %}